%heading-style {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 84px;
  margin: 0;
}

%cta-button-style {
  border: 2px solid #ffc700;
  box-sizing: border-box;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  width: 173px;
  height: 38px;
  cursor: pointer;
}

.hero-wrapper {
  width: 100vw;
  height: 100%;
}

.hero-text {
  position: absolute;
  width: 100vw;
  top: 40%;

  h1 {
    @extend %heading-style;
    position: relative;
    left: 20%;
    color: #ffffff;
  }

  button.cta {
    @extend %cta-button-style;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
