$base-color: #e5e5e5;
$full-width: 100%;
$full-height: 100%;

%navigation-font {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.navigation {
  width: $full-width;
  position: absolute;
  float: right;
  top: 1%;
  

  .navigation-sections {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: $full-width;
    position: relative;

    a {
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      @extend %navigation-font;

      li#navigation {
        padding: 2%;
        display: inline-block;
        @extend %navigation-font;
        cursor: pointer;

       
      } 


     
    }

    li.cart{
      position: relative;
      float: right;
    }

    li {
      @extend %navigation-font;
      display: inline-block;
      padding:3%;
      position: relative;


    
    }

  }
}
