.order-details-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .user-form {
    display: flex;
    flex-direction: column;
    

    input {
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 4px;
      
    }

    select {
      background: #ffc700;
      border-radius: 4px;
      border: none;
    }

    label {
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: lowercase;
      color: #ffc700;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
    }
  }
}
