$base-color: #e5e5e5;
$full-width: 100%;
$full-height: 100%;

%navigation-font {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

%heading-style {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 84px;
  margin: 0;
}

%p-style {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #595959;
  margin: 0;
}

%cta-button-style {
  border: 2px solid #ffc700;
  box-sizing: border-box;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  width: 173px;
  height: 38px;
  cursor: pointer;
}

%link-style {
  cursor: pointer;
}

.App {
  width: $full-width;
  height: $full-height;
  background-color: $base-color;
  overflow: hidden;



  .landing-page-wrapper {
    background-color: $base-color;
    width: $full-width;
    height: $full-height;

    .content-wrapper {
      width: $full-width;
      height: $full-height;
      display: flex;
      flex-direction: column;

      .content-sections {
        display: grid;
        grid-template-columns: 50% 50%;
        width: $full-width;

        .content-text {
          width: $full-width;
          place-self: center;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr 1fr;

          h1 {
            @extend %heading-style;
            color: #393939;
            padding: 0 10%;
          }

          p {
            @extend %p-style;
            padding: 0 10%;
          }
          img {
            justify-self: end;
            padding: 0 10%;

            &:nth-of-type(1) {
              justify-self: start;
            }
          }
        }

        .content-image {
          width: $full-width;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
